/* CSS RESET CODE */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.5;
  }

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Styles */
#score {
    font-size: 24px;
    font-weight: 900;
}

#gameBody {
    height: 200px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 150px;
    padding: 16px 32px;
    font-size: 20px;
    text-align: center;
}

